<div class="page-header">
  <%= link_to accounts_path, :class => 'btn btn-fab btn-raised btn-material-yellow-500' do %>
      <i class="mdi-navigation-arrow-back"></i>
  <% end %>
  <h1>New account</h1>
</div>

<%= render 'form' %>
